# AIRFLOW_HOME=/opt/airflow
# ─── Airflow ───────────────────────────────────────────────
AIRFLOW_UID=50000
# Generate fernet key: python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW__CORE__FERNET_KEY=pjl1Xs6elSaEhPGlejurKR7eTmmSfc3W31VPPgvit1Q=
# Generate secret key: python3 -c "import secrets; print(secrets.token_hex(32))"
AIRFLOW__CORE__SECRET_KEY=a747f9f00acf0abcc6ebefc3eb447d5f15cd3ae0e1dddc4c2f0d2fd5133ccb45

AIRFLOW__API_AUTH__JWT_SECRET=1796b2b8f60a8db563c092573dc0f65959ad8b26101a56857eb8679ea540ec46

AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@airflow-db:5432/airflow

# # ─── dbt ───────────────────────────────────────────────────
# DBT_TARGET=prod
# # DBT_PROFILES_DIR=./transformation/dbt
# DBT_PROJECT_DIR=/opt/airflow/dbt
# DBT_PROFILES_DIR=/opt/airflow/dbt


# Snowflake. Isi jika ingin menjalankan historical pipeline dan dbt Snowflake.
SNOWFLAKE_ACCOUNT=xxxxxxx.ap-southeast-3.aws
SNOWFLAKE_USER=xxxxxxxxxx
SNOWFLAKE_PASSWORD=xxxxxxxxxxxxxxxxxxx
SNOWFLAKE_ROLE=dbt_role
SNOWFLAKE_DATABASE=dbt_db
SNOWFLAKE_WAREHOUSE=dbt_wh
SNOWFLAKE_SCHEMA=dbt_schema
# SNOWFLAKE_SCHEMA=HITESH

DBT_DOCKER_IMAGE=f1-dbt-snowflake:1.0
DBT_TARGET=dev
DBT_DOCKER_NETWORK_MODE=host
DBT_PROJECT_HOST=/home/void/F1_RealtimeReplay_Historical_Project/dbt/dbt_project
                  
AWS_ACCESS_KEY_ID=xxxxxxxxxxxxxxxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                      


# ---------------------------------------------------------------------
# Realtime Replay
# ---------------------------------------------------------------------

# OpenF1
OPENF1_API_BASE_URL=https://api.openf1.org/v1

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# Replay API / Grafana
GRAFANA_PUBLIC_URL=http://localhost:3000
GRAFANA_DASHBOARD_UID=openf1-replay
REPLAY_WINDOW_MINUTES=30
REPLAY_FLUSH_INTERVAL_MS=100
REQUEST_TIMEOUT_SECONDS=120

# Grafana login for local dev
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin