# ---------------------------------------------------------------------
# Local project path
# Wajib diisi agar Airflow DockerOperator bisa bind mount project ke container dbt/ETL.
# Windows contoh: LOCAL_PROJECT_PATH=C:/Users/LENOVO/formula1-localhost-project
# Linux/macOS contoh: LOCAL_PROJECT_PATH=/home/user/formula1-localhost-project
# ---------------------------------------------------------------------
LOCAL_PROJECT_PATH=

# Airflow
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=airflow
AIRFLOW_ADMIN_PASSWORD=airflow
AIRFLOW_SECRET_KEY=formula1_local_secret_key

# SingleStore local
SINGLESTORE_ROOT_PASSWORD=rootpass

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

# Kafka local
KAFKA_BOOTSTRAP_SERVERS=kafka:29092

# Snowflake. Isi jika ingin menjalankan historical pipeline dan dbt Snowflake.
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=
SNOWFLAKE_DATABASE=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_SCHEMA=HITESH
